@use "style/mixins" as mix;

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background-color: transparent;
  border: none;

  font-weight: 600;
  cursor: pointer;

  @include mix.mobile {
    font-size: 0.9rem;
  }
}
