@use "../abstract" as *;

.button {
  display: inline-block;
  padding: rem(17) rem(40);
  border-radius: rem(40);
  font-weight: 500;

  &--white {
    color: $c-light-red;
    background-color: white;

    &:hover {
      color: white;
      background: $c-very-light-red;
    }
  }

  &--gradient {
    color: white;
    background-image: linear-gradient(
      45deg,
      $c-bg-very-light-red,
      $c-bg-light-red
    );

    &:hover {
      color: $c-light-red;
      outline: 1px solid $c-light-red;
      background-image: unset;
    }
  }

  &--gradient-white {
    @include mobile() {
      color: white;
      background-image: linear-gradient(
        45deg,
        $c-bg-very-light-red,
        $c-bg-light-red
      );

      &:hover {
        color: $c-light-red;
        outline: 1px solid $c-light-red;
        background-image: unset;
      }
    }

    @include desktop() {
      color: $c-light-red;
      background-color: white;

      &:hover {
        color: white;
        background: $c-very-light-red;
      }
    }
  }

  &--transparent {
    border: 1px solid white;
    color: white;

    &:hover {
      background-color: white;
      color: $c-light-red;
    }
  }
}

// .button {
//   width: rem(130);
//   height: rem(46);

//   @include desktop() {
//     font-size: rem(16);
//   }
// }
