@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Commissioner, sans-serif;
  font-size: 16px;
  background: #fafafa;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.black-bg {
  display: none;
  background: rgba(0, 0, 0, 0.288);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (min-width: 640px) {
  .active {
    display: none !important;
  }
}

.modal-active {
  display: block !important;
  z-index: 15;
}

.menu-btn {
  width: 15px;
  height: 15px;
  background: url("../images/icon-hamburger.svg");
  cursor: pointer;
  z-index: 10;
}

@media (min-width: 640px) {
  .menu-btn {
    display: none;
  }
}

.icon-active {
  background: url("../images/icon-close-menu.svg");
}

@media (min-width: 640px) {
  .icon-active {
    display: none;
  }
}

#main-header {
  height: 40vh;
  background: url("../images/image-hero-mobile.jpg") no-repeat center top/cover;
  padding: 28px;
}

#main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#main-header .container .nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 10;
  border-radius: 8px;
  overflow: hidden;
}

@media (min-width: 640px) {
  #main-header .container .nav {
    z-index: 0;
  }
}

#main-header .container .nav a {
  font-size: 17px;
  font-weight: 500;
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 25px;
}

#main-header .container .nav a:hover {
  color: #eee;
}

@media (min-width: 640px) {
  #main-header .container .nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: auto;
    left: auto;
    right: 0;
    width: auto;
  }
  #main-header .container .nav a {
    font-size: 14px;
    background: transparent;
    color: white;
    margin-right: 22px;
    padding: 0;
  }
  #main-header .container .nav a:hover {
    border-bottom: 1px solid rgba(156, 156, 156, 0.315);
    line-height: 0.8;
  }
}

@media (min-width: 640px) {
  #main-header {
    height: 55vh;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0))), url("../images/image-hero-desktop.jpg") no-repeat center bottom/cover;
    background: linear-gradient(rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0) 100%), url("../images/image-hero-desktop.jpg") no-repeat center bottom/cover;
  }
  #main-header .container {
    max-width: 1200px;
    padding-top: 48px;
  }
}

#main {
  margin-top: -80px;
  padding: 28px;
}

@media (min-width: 640px) {
  #main {
    margin-top: -120px;
  }
}

#main .container {
  position: relative;
}

#main section {
  border: 1px solid #eee;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 32px;
}

#main section p,
#main section span {
  font-size: 14px;
  color: #7a7a7a;
  line-height: 1.8;
}

#main section .btn {
  font-size: inherit;
  display: block;
  font-weight: 500;
  background: #3cb4ac;
  color: #fff;
  border-radius: 32px;
  padding: 16px 32px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#main section .btn:hover {
  background: #147b74;
}

#main section .btn-bookmark {
  background: #eee;
  border-radius: 32px;
  padding: 0 58px 0 0;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 2fr;
      grid-template-columns: auto 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#main section .btn-bookmark:hover::after {
  content: "";
  width: 56px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(204, 204, 204, 0.322);
  border-radius: 50%;
}

#main section .btn-bookmark #bookmark-text {
  display: block;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  color: #7a7a7a;
}

#main section .bookmarked #bookmark-text {
  color: #147b74;
}

#main section .bookmarked circle {
  fill: #147b74;
}

#main section .bookmarked path {
  fill: #fff;
}

@media (min-width: 640px) {
  #main section {
    padding: 48px;
  }
  #main section p {
    font-size: 16px;
  }
}

#main .item-disabled {
  position: relative;
  cursor: auto !important;
}

#main .item-disabled::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#main .item-disabled .btn {
  background: #ccc;
}

#main .item-disabled h3,
#main .item-disabled .item-quantity span {
  color: #7a7a7a !important;
}

#main .intro {
  text-align: center;
  position: relative;
}

#main .intro .logo-master {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#main .intro h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0 16px;
}

#main .intro p {
  margin-bottom: 16px;
}

#main .intro .btn {
  margin-bottom: 16px;
  width: 100%;
}

@media (min-width: 640px) {
  #main .intro .btn {
    width: auto;
  }
}

@media (min-width: 640px) {
  #main .intro .intro-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #main .intro h1 {
    font-size: 28px;
  }
  #main .intro p {
    margin-bottom: 28px;
  }
  #main .intro .btn {
    margin: 0;
  }
  #main .intro .btn-bookmark {
    padding: 0 28px 0 0;
    width: auto;
  }
  #main .intro .btn-bookmark svg {
    margin-right: 16px;
  }
}

#main .modal {
  display: none;
  position: absolute;
  top: -20vh;
  left: 0;
  z-index: 15;
}

#main .modal h2 {
  font-size: 19px;
  margin-bottom: 16px;
}

#main .modal p {
  margin-bottom: 24px;
}

@media (min-width: 640px) {
  #main .modal h2 {
    font-size: 24px;
  }
  #main .modal p {
    font-size: 15px;
  }
}

#main .modal .modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main .modal .modal-wrapper .modal-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: "radio heading"
 "radio proposal"
 "paragraph paragraph"
 "quantity quantity"
 "enterplg enterplg";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 24px;
  position: relative;
}

@media (min-width: 640px) {
  #main .modal .modal-wrapper .modal-item {
    -ms-grid-columns: auto auto 1fr auto;
        grid-template-columns: auto auto 1fr auto;
        grid-template-areas: "radio heading proposal quantity"
 "radio paragraph paragraph paragraph"
 "enterplg enterplg enterplg enterplg";
  }
}

#main .modal .modal-wrapper .modal-item .custom-radio {
  position: relative;
  margin: 6px 48px 0 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: radio;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#main .modal .modal-wrapper .modal-item .custom-radio .modal-radio {
  position: absolute;
  opacity: 0;
}

#main .modal .modal-wrapper .modal-item .custom-radio .modal-radio:checked ~ .checkmark::after {
  content: "";
  position: absolute;
  top: 5.5px;
  left: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3cb4ac;
}

#main .modal .modal-wrapper .modal-item .custom-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
}

#main .modal .modal-wrapper .modal-item .custom-radio .checkmark:hover {
  background-color: #f1f1f1;
}

#main .modal .modal-wrapper .modal-item h3 {
  font-size: 16px;
  margin-right: 16px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: heading;
}

#main .modal .modal-wrapper .modal-item .proposal {
  font-weight: 700;
  color: #3cb4ac;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: proposal;
  justify-self: flex-start;
  line-height: 1;
}

#main .modal .modal-wrapper .modal-item .item-quantity {
  font-size: 16px;
  color: #7a7a7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: quantity;
  line-height: 1;
}

#main .modal .modal-wrapper .modal-item .item-quantity span {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin: 0 8px 0 0;
}

#main .modal .modal-wrapper .modal-item p {
  margin-top: 10px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: paragraph;
}

#main .modal .modal-wrapper .modal-item .modal-item-pledge {
  margin-top: 30px;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: enterplg;
  display: none;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 16px;
}

#main .modal .modal-wrapper .modal-item .modal-item-pledge span {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-column-align: center;
      justify-self: center;
}

#main .modal .modal-wrapper .modal-item .modal-item-pledge .price-label {
  position: relative;
}

#main .modal .modal-wrapper .modal-item .modal-item-pledge .price-label .price-input {
  width: 100%;
  height: 45px;
  border: 1px solid #7a7a7a;
  border-radius: 32px;
  padding: 0 36px 0 48px;
  font-weight: bold;
  outline: none;
}

#main .modal .modal-wrapper .modal-item .modal-item-pledge .price-label .price-input:focus {
  border: 1px solid #147b74;
}

#main .modal .modal-wrapper .modal-item .modal-item-pledge .price-label .price-valute {
  font-size: 14px;
  position: absolute;
  left: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#main .modal .modal-wrapper .modal-item .modal-item-pledge .btn {
  padding: 13px 0;
}

#main .modal .modal-wrapper .modal-item .modal-item-pledge::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #eee;
  position: absolute;
  bottom: 130px;
  left: 0;
}

@media (min-width: 640px) {
  #main .modal .modal-wrapper .modal-item .modal-item-pledge {
    -ms-grid-columns: 1fr auto auto;
        grid-template-columns: 1fr auto auto;
  }
  #main .modal .modal-wrapper .modal-item .modal-item-pledge span {
    grid-column: auto;
    justify-self: flex-start;
  }
  #main .modal .modal-wrapper .modal-item .modal-item-pledge .price-label .price-input {
    width: 115px;
  }
  #main .modal .modal-wrapper .modal-item .modal-item-pledge .btn {
    padding: 13px 28px;
  }
  #main .modal .modal-wrapper .modal-item .modal-item-pledge::before {
    bottom: 95px;
  }
}

#main .modal .modal-wrapper .modal-item-active {
  border: 2px solid #3cb4ac;
}

#main .modal .modal-wrapper .modal-item-active .modal-item-pledge {
  display: -ms-grid;
  display: grid;
}

#main .success {
  display: none;
  position: absolute;
  left: 50%;
  top: 70px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 15;
  width: 100%;
  text-align: center;
}

@media (min-width: 640px) {
  #main .success {
    top: 170px;
    width: 70%;
  }
}

#main .success img {
  width: 90px;
  margin-bottom: 32px;
}

#main .success h4 {
  font-size: 24px;
  margin-bottom: 16px;
}

#main .success p {
  margin-bottom: 24px;
}

#main .success .btn {
  margin: auto;
}

#main .stats {
  text-align: center;
}

#main .stats ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

#main .stats ul li {
  color: #7a7a7a;
  font-size: 14px;
  margin: 0 0 16px 0;
  padding: 0 0 20px 0;
  position: relative;
}

#main .stats ul li span {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #000;
}

#main .stats ul li::after {
  content: "";
  background: #ccc;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 1px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#main .stats ul li:last-child {
  padding-bottom: 12px;
}

#main .stats ul li:last-child::after {
  display: none;
}

@media (min-width: 640px) {
  #main .stats ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 20px;
  }
  #main .stats ul li {
    width: 30%;
    margin: 0;
    padding: 0 50px 0 0;
  }
  #main .stats ul li::after {
    left: auto;
    bottom: 14px;
    right: 0;
    width: 1px;
    height: 60px;
  }
}

#main .stats .progress {
  background: #eee;
  border-radius: 8px;
  height: 12px;
  overflow: hidden;
  position: relative;
}

#main .stats .progress::after {
  content: "";
  width: 80%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #3cb4ac;
  border-radius: 8px;
}

#main .about h2 {
  font-size: 19px;
  margin-bottom: 24px;
}

#main .about p {
  margin-bottom: 24px;
}

@media (min-width: 640px) {
  #main .about h2 {
    font-size: 20px;
  }
}

#main .about .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main .about .about-wrapper .about-item h3 {
  font-size: 14px;
  margin-bottom: 6px;
}

#main .about .about-wrapper .about-item .proposal {
  display: inline-block;
  color: #3cb4ac;
  margin-bottom: 16px;
}

#main .about .about-wrapper .about-item .item-quantity {
  display: block;
  font-size: 16px;
  color: #7a7a7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .about .about-wrapper .about-item .item-quantity span {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin: 0 8px 0 0;
}

@media (min-width: 640px) {
  #main .about .about-wrapper .about-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main .about .about-wrapper .about-item h3 {
    font-size: 17px;
  }
  #main .about .about-wrapper .about-item p {
    font-size: 15px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  #main .about .about-wrapper .about-item .btn {
    justify-self: flex-end;
  }
  #main .about .about-wrapper .about-item .proposal {
    justify-self: flex-end;
  }
}
/*# sourceMappingURL=main.css.map */
