.Filter {
  width: 200px;
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
}

.Filter .FilterSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background: #fff;

  font-size: 15px;
  box-shadow: 0 0 5px rgb(219, 219, 219);
  border-radius: 6px;

}

.Filter .FilterList {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px rgb(219, 219, 219);
  border-radius: 6px;

  position: absolute;
  top: 52px;
  overflow: hidden;
  display: none;
}

.Filter .FilterList li {
  padding: .6rem;
}

.Filter .FilterList li:hover {
  background: rgb(243, 243, 243);
}

.Filter .FilterList li:last-child {
  margin-bottom: 0;
}

.Filter .FilterShow {
  display: block;
}

@media(max-width: 768px){
  .Filter .FilterSelect, 
  .Filter .FilterShow {
    font-size: .9rem;
  }
}

