@use "style/mixins" as mix;
@use "style/functions" as fn;

.search {
  position: relative;

  @include mix.mobile {
    width: 100%;
  }

  input {
    padding: 0 4rem;
    width: 100%;
    height: fn.rem(45);

    font-size: fn.rem(14);
    color: var(--color-text);

    border: none;
    outline: none;
    border-radius: fn.rem(4);
    box-shadow: 0 3px 5px var(--color-shadow);
    background-color: var(--color-bg-accent);

    &::placeholder {
      color: var(--color-text);
      opacity: .6;
    }
  }

  i {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
  }
}
