:root {
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
}

body {
  font-family: 'Nunito Sans', 'Segoe UI', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Main styles */
.Button-Default {
  display: inline-block;
  background: #fff;
  color: #555;
  padding: .5rem 1.8rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgb(201, 199, 199);
  cursor: pointer;
  font-weight: 600;
}

.Button-Default i {
  margin-right: .5rem;
}

/* background themes */
.background {
  min-height: 100vh;
}

.light {
  background: var(--very-light-gray);
}

.dark {
  background: var(--very-dark-blue);
  color: #fff;
}

.dark .Search input,
.dark .Search i,
.dark .Header,
.dark .Header a,
.dark .Filter .FilterSelect,
.dark .Filter .FilterList,
.dark .Countries a,
.dark .Country-Borders li,
.dark .Button-Default {
  background: var(--dark-blue);
  box-shadow: 0 0 8px hsl(208, 25%, 12%);
  color: #fff;
}

.dark .Search i,
.dark .Header a {
  box-shadow: none;
}

.dark .Filter .FilterList li:hover {
  background: hsl(210, 26%, 16%);
}

@media(max-width: 480px){
  .Button-Default {
    font-size: .9rem;
  }
}