/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

/* reset css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  color: inherit;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* general styles */
body {
  display: grid;
  place-items: center;
  background: hsl(233, 47%, 7%);

  font-family: Inter, sans-serif;
  color: white;
}

/* card styles */
.card {
  margin: 1.5rem;
  background: hsl(244, 38%, 16%);
  border-radius: 0.5rem;
  overflow: hidden;
}

.card__img {
  position: relative;
}

.card__img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: hsla(277, 86%, 27%, 0.6);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
}

.card__title {
  font-size: 2rem;
}

.card__title span {
  color: hsl(277, 64%, 61%);
}

.card__paragraph {
  margin-bottom: 1.5rem;
  font-size: 1.075rem;
  line-height: 2rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.card__stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__stat {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  font-family: Lexend Deca, sans-serif;
  font-size: 0.975rem;
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
}

.card__stat span {
  font-family: Inter, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: white;
}

/* on desktop screen */
@media (min-width: 640px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 62rem;
  }

  .card__img {
    order: 1;
  }

  .card__img img {
    height: 100%;
  }

  .card__content {
    padding: 3.5rem;
    text-align: left;
  }

  .card__title {
    font-size: 2rem;
  }

  .card__paragraph {
    max-width: 22rem;
    margin-bottom: 0;
    font-size: 0.85rem;
    line-height: 1.8;
  }

  .card__stats {
    margin-top: auto;
    flex-direction: row;
    gap: 3.25rem;
  }

  .card__stat {
    font-size: 0.8rem;
  }

  .card__stat span {
    font-size: 1.35rem;
  }
}
