@use "../abstract" as *;

body {
  font-family: "Overpass", sans-serif;
  color: $c-very-dark-blue;
  background-color: #222;
  line-height: 1;
}

a,
button,
header,
footer {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
