$radial-gradient-1: hsl(214, 47%, 23%);
$radial-gradient-2: hsl(237, 49%, 15%);
$scissors-gradient-1: hsl(39, 89%, 49%);
$scissors-gradient-2: hsl(40, 84%, 53%);
$paper-gradient-1: hsl(230, 89%, 62%);
$paper-gradient-2: hsl(230, 89%, 65%);
$rock-gradient-1: hsl(349, 71%, 52%);
$rock-gradient-2: hsl(349, 70%, 56%);
$lizard-gradient-1: hsl(261, 73%, 60%);
$lizard-gradient-2: hsl(261, 72%, 63%);
$cyan-gradient-1: hsl(189, 59%, 53%);
$cyan-gradient-2: hsl(189, 58%, 57%);

$c-text-light: hsl(0, 0%, 100%);
$c-text-dark: hsl(229, 25%, 31%);
$c-text-score: hsl(229, 64%, 46%);
$c-header-outline: hsl(217, 16%, 45%);

$ff-barlow-600: 'Barlow Semi Condensed SemiBold';
$ff-barlow-700: 'Barlow Semi Condensed Bold';
