@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  display: grid;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;

  background-color: hsl(185, 75%, 39%);
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 50vw bottom 50vh, 50vw 50vh;

  font-family: Kumbh Sans, sans-serif;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.card {
  width: min(21.75rem, 100%);
  margin-inline: auto;

  background-color: white;
  background-image: url("../images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 5.5rem;

  box-shadow: 0 0 6rem hsl(186, 61%, 37%);
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
}

.card__avatar {
  border: 0.3125rem solid white;
  border-radius: 50%;
  margin-bottom: 0.625rem;
}

.card__name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card__age {
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}
.card__country {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  margin-bottom: 1.5rem;
}

.card__list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid hsl(0, 0%, 87%);
  padding: 1.5rem 3rem;
}

.card__item {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 0.19rem;
}

.card__item span {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: hsl(0, 0%, 59%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
