@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: Kumbh Sans, sans-serif;
  font-weight: 700;
  color: hsl(229, 23%, 23%);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: url("../images/bg-pattern-top.svg") no-repeat right 50vw bottom
      50vh,
    url("../images/bg-pattern-bottom.svg") no-repeat 50vw 50vh,
    hsl(185, 75%, 39%);
}

.card {
  width: 350px;
  border-radius: 16px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 100px hsl(186, 61%, 37%);
  text-align: center;
}

.card__image {
  border: 5px solid white;
  border-radius: 50%;
  margin-top: -55px;
  margin: -55px 0 10px;
}

.card__name {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card__age {
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}
.card__country {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  margin-bottom: 24px;
}

.card__list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid hsl(0, 0%, 87%);
  padding: 24px 48px;
}

.card__item {
  font-size: 1.1rem;

  display: flex;
  flex-direction: column;
  gap: 3px;
}

.card__item span {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: hsl(0, 0%, 59%);
}
