// Colors
$lightRed: hsl(356, 100%, 66%);
$veryLightRed: hsl(355, 100%, 74%);
$veryDarkBlue: hsl(208, 49%, 24%);
$neutralGrayBlue: hsl(240, 2%, 79%);
$neutralLightGray: hsl(240, 3%, 94%);
$neutralVeryDarkBlue: hsl(240, 10%, 16%);
$neutralVeryDarkGrayishBlue: hsl(207, 13%, 34%);
$bgLightRed: hsl(353, 100%, 62%);
$bgVeryLightRed: hsl(13, 100%, 72%);
$bgVeryDarkGrayBlue: hsl(237, 17%, 21%);
$bgVeryDarkDesaturatedBlue: hsl(237, 23%, 32%);

// Fonts
$ff-overpass: "Overpass", sans-serif;
$ff-ubuntu: "Ubuntu", sans-serif;

// Font Weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
