@use "../styles/variables" as var;
@import "./fonts.scss";
@import "./reset.scss";

body {
  background-color: var.$light-grayish-cyan;
  display: grid;
  justify-items: center;
  padding: 32px;
  font-family: var.$font-family;
  line-height: 1;
}
