*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-family: unset;
  border: none;
  outline: none;
}

button {
  background: unset;
  font-family: unset;
  color: unset;
  border: unset;
  cursor: pointer;
}

img {
  display: inline-flex;
  max-width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
