@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

$colors: (
  // Primary
  soft-red: hsl(7, 99%, 70%),
  yellow: hsl(51, 100%, 49%),
  dark-desaturated-cyan: hsl(167, 40%, 24%),
  dark-moderate-cyan: hsl(168, 34%, 41%),
  dark-blue: hsl(198, 62%, 26%),
  // Neutral
  very-dark-desaturated-blue: hsl(212, 27%, 19%),
  very-dark-grayish-blue: hsl(213, 9%, 39%),
  dark-grayish-blue: hsl(232, 10%, 55%),
  grayish-blue: hsl(210, 4%, 67%),
  white: hsl(0, 0%, 100%)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$mobile: 770px;
@mixin mobileView {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

body {
  font-family: Barlow, sans-serif;
  font-size: 18px;

  .container {
    max-width: 1300px;
    height: 100%;
    margin: auto;
    padding: 0 16px;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    position: relative;
  }

  .logo {
    width: 180px;
  }

  .nav ul {
    display: flex;
    align-items: center;
    li {
      margin-right: 48px;
    }
  }

  .btn {
    font-family: Fraunces, sans-serif;
    color: color(very-dark-desaturated-blue) !important;
    text-transform: uppercase;
    position: relative;
  }

  p {
    color: color(dark-grayish-blue);
    line-height: 1.6;
  }
}

// Header Styles
#header {
  height: 700px;
  background: url("../images/desktop/image-header.jpg") no-repeat center
    center/cover;
  text-align: center;

  a {
    color: color(white);
  }

  .btn {
    display: inline-block;
    background: color(white);
    border-radius: 26px;
    line-height: 2.8;
    padding: 0 26px;

    &:hover {
      color: color(white) !important;
      background: rgba(255, 255, 255, 0.4);
    }
  }

  h1 {
    font-family: Fraunces, sans-serif;
    font-size: 56px;
    letter-spacing: 8px;
    margin: 60px 0 80px;
    color: color(white);
    text-transform: uppercase;
  }

  #menu-icon {
    display: none;
  }

  @include mobileView {
    height: 550px;

    #menu-icon {
      display: block;
      cursor: pointer;
    }

    .nav {
      display: none;
      width: 100%;
      position: absolute;
      top: 100px;
      left: 0;

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        right: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid #fff;
      }

      &--active {
        display: block;
      }

      ul {
        flex-direction: column;
        background: #fff;

        li {
          font-size: 16px;
          margin: 32px 0 0;

          a {
            color: color(dark-grayish-blue);
            &:hover {
              color: #000;
            }
          }
        }

        .btn {
          background: color(yellow);
          margin-bottom: 32px;
          &:hover {
            background: darken(color(yellow), 10);
          }
        }
      }
    }

    h1 {
      font-size: 38px;
    }
  }
}

// Main Sections Styles
.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @include mobileView {
    grid-template-columns: 1fr;

    .service-text {
      padding: 62px 32px;
      max-width: 100% !important;
      text-align: center;

      h2 {
        font-size: 32px !important;
      }

      p {
        font-size: 16px;
        margin-bottom: 32px !important;
      }
    }

    #order-1 {
      order: 1;
    }
    #order-2 {
      order: 2;
    }
    #order-3 {
      order: 3;
    }
    #order-4 {
      order: 4;
    }
    #order-5 {
      order: 5;
    }
    #order-6 {
      order: 6;
    }
  }

  .service-img {
    width: 100%;
    height: 550px;
    object-fit: cover;

    @include mobileView {
      height: 300px;
    }
  }

  .service-text {
    max-width: 60%;
    justify-self: center;

    h2 {
      font-family: Fraunces, sans-serif;
      font-size: 41px;
      font-weight: 900;
      color: color(very-dark-desaturated-blue);
      margin-bottom: 32px;
    }

    p {
      margin-bottom: 48px;
    }

    .btn {
      font-size: 16px;
      font-weight: 900;
      margin-left: 5px;
    }

    .btn::after {
      content: "";
      width: 125px;
      height: 10px;
      border-radius: 10px;
      position: absolute;
      bottom: -2px;
      left: -5px;
      z-index: -1;
    }

    .btn-yellow::after {
      background: lighten(color(yellow), 40);
    }

    .btn-red::after {
      background: lighten(color(soft-red), 20);
    }
    .btn-yellow:hover::after {
      background: color(yellow);
    }
    .btn-red:hover::after {
      background: color(soft-red);
    }
  }

  .short {
    max-width: 100%;
    width: 100%;
    position: relative;

    @include mobileView {
      padding: 0;

      .service-img {
        height: 600px;
      }
    }

    h2 {
      width: 100%;
      font-size: 28px;
      text-transform: capitalize;
      position: absolute;
      left: 50%;
      top: 330px;
      transform: translateX(-50%);
      text-align: center;

      @include mobileView {
        top: 380px;
      }
    }

    p {
      width: 60%;
      font-size: 16px;
      position: absolute;
      left: 50%;
      top: 400px;
      transform: translateX(-50%);
      text-align: center;

      @include mobileView {
        top: 450px;
      }
    }
  }

  .text-green {
    h2 {
      color: color(dark-desaturated-cyan);
    }
    p {
      color: color(dark-moderate-cyan);
    }
  }

  .text-blue {
    h2 {
      color: color(dark-blue);
    }
    p {
      color: color(dark-blue);
    }
  }
}

.testimonials {
  padding: 148px 26px;

  @include mobileView {
    padding: 64px 26px 32px;

    h3 {
      font-size: 16px;
    }

    .container {
      grid-template-columns: 1fr !important;
    }

    .testimonial-item {
      margin-bottom: 64px;
    }
  }

  h3 {
    font-family: Fraunces, sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: color(grayish-blue);
    margin-bottom: 68px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    text-align: center;
  }

  .testimonial-item {
    max-width: 350px;
    justify-self: center;

    img {
      width: 80px;
      border-radius: 50%;
      margin-bottom: 58px;
    }

    p {
      color: color(very-dark-grayish-blue);
      margin-bottom: 62px;
    }

    h4 {
      font-family: Fraunces, sans-serif;
      font-weight: 900;
      margin-bottom: 8px;
    }

    span {
      color: color(grayish-blue);
      font-size: 14px;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include mobileView {
    grid-template-columns: 1fr 1fr;
  }

  img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
  }
}

// Footer Styles
#footer {
  background: lighten(color(dark-moderate-cyan), 20);
  padding: 62px;
  text-align: center;

  .logo {
    margin-bottom: 38px;
  }

  .nav ul {
    justify-content: center;
    margin-bottom: 80px;
    li:last-child {
      margin: 0;
    }
    a {
      color: color(dark-moderate-cyan);
      &:hover {
        color: color(white);
      }
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    li {
      margin-right: 26px;
      &:last-child {
        margin: 0;
      }
      a {
        font-size: 24px;
        color: color(dark-desaturated-cyan);
        &:hover {
          color: color(white);
        }
      }
    }
  }
}
