@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: Barlow, sans-serif;
  font-size: 18px;
}

body .container {
  max-width: 1300px;
  height: 100%;
  margin: auto;
  padding: 0 16px;
}

body .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  position: relative;
}

body .logo {
  width: 180px;
}

body .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav ul li {
  margin-right: 48px;
}

body .btn {
  font-family: Fraunces, sans-serif;
  color: #23303e !important;
  text-transform: uppercase;
  position: relative;
}

body p {
  color: #818498;
  line-height: 1.6;
}

#header {
  height: 700px;
  background: url("../images/desktop/image-header.jpg") no-repeat center center/cover;
  text-align: center;
}

#header a {
  color: white;
}

#header .btn {
  display: inline-block;
  background: white;
  border-radius: 26px;
  line-height: 2.8;
  padding: 0 26px;
}

#header .btn:hover {
  color: white !important;
  background: rgba(255, 255, 255, 0.4);
}

#header h1 {
  font-family: Fraunces, sans-serif;
  font-size: 56px;
  letter-spacing: 8px;
  margin: 60px 0 80px;
  color: white;
  text-transform: uppercase;
}

#header #menu-icon {
  display: none;
}

@media (max-width: 770px) {
  #header {
    height: 550px;
  }
  #header #menu-icon {
    display: block;
    cursor: pointer;
  }
  #header .nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
  }
  #header .nav::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fff;
  }
  #header .nav--active {
    display: block;
  }
  #header .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
  }
  #header .nav ul li {
    font-size: 16px;
    margin: 32px 0 0;
  }
  #header .nav ul li a {
    color: #818498;
  }
  #header .nav ul li a:hover {
    color: #000;
  }
  #header .nav ul .btn {
    background: #fad400;
    margin-bottom: 32px;
  }
  #header .nav ul .btn:hover {
    background: #c7a900;
  }
  #header h1 {
    font-size: 38px;
  }
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 770px) {
  .services {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .services .service-text {
    padding: 62px 32px;
    max-width: 100% !important;
    text-align: center;
  }
  .services .service-text h2 {
    font-size: 32px !important;
  }
  .services .service-text p {
    font-size: 16px;
    margin-bottom: 32px !important;
  }
  .services #order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .services #order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .services #order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .services #order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .services #order-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .services #order-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

.services .service-img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 770px) {
  .services .service-img {
    height: 300px;
  }
}

.services .service-text {
  max-width: 60%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.services .service-text h2 {
  font-family: Fraunces, sans-serif;
  font-size: 41px;
  font-weight: 900;
  color: #23303e;
  margin-bottom: 32px;
}

.services .service-text p {
  margin-bottom: 48px;
}

.services .service-text .btn {
  font-size: 16px;
  font-weight: 900;
  margin-left: 5px;
}

.services .service-text .btn::after {
  content: "";
  width: 125px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: -2px;
  left: -5px;
  z-index: -1;
}

.services .service-text .btn-yellow::after {
  background: #fff7c7;
}

.services .service-text .btn-red::after {
  background: #ffd2cc;
}

.services .service-text .btn-yellow:hover::after {
  background: #fad400;
}

.services .service-text .btn-red:hover::after {
  background: #fe7867;
}

.services .short {
  max-width: 100%;
  width: 100%;
  position: relative;
}

@media (max-width: 770px) {
  .services .short {
    padding: 0;
  }
  .services .short .service-img {
    height: 600px;
  }
}

.services .short h2 {
  width: 100%;
  font-size: 28px;
  text-transform: capitalize;
  position: absolute;
  left: 50%;
  top: 330px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

@media (max-width: 770px) {
  .services .short h2 {
    top: 380px;
  }
}

.services .short p {
  width: 60%;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 400px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

@media (max-width: 770px) {
  .services .short p {
    top: 450px;
  }
}

.services .text-green h2 {
  color: #25564b;
}

.services .text-green p {
  color: #458c7e;
}

.services .text-blue h2 {
  color: #19536b;
}

.services .text-blue p {
  color: #19536b;
}

.testimonials {
  padding: 148px 26px;
}

@media (max-width: 770px) {
  .testimonials {
    padding: 64px 26px 32px;
  }
  .testimonials h3 {
    font-size: 16px;
  }
  .testimonials .container {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .testimonials .testimonial-item {
    margin-bottom: 64px;
  }
}

.testimonials h3 {
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #a7abae;
  margin-bottom: 68px;
}

.testimonials .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  text-align: center;
}

.testimonials .testimonial-item {
  max-width: 350px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.testimonials .testimonial-item img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 58px;
}

.testimonials .testimonial-item p {
  color: #5a636c;
  margin-bottom: 62px;
}

.testimonials .testimonial-item h4 {
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  margin-bottom: 8px;
}

.testimonials .testimonial-item span {
  color: #a7abae;
  font-size: 14px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 770px) {
  .gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.gallery img {
  width: 100%;
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

#footer {
  background: #7abdb0;
  padding: 62px;
  text-align: center;
}

#footer .logo {
  margin-bottom: 38px;
}

#footer .nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

#footer .nav ul li:last-child {
  margin: 0;
}

#footer .nav ul a {
  color: #458c7e;
}

#footer .nav ul a:hover {
  color: white;
}

#footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .socials li {
  margin-right: 26px;
}

#footer .socials li:last-child {
  margin: 0;
}

#footer .socials li a {
  font-size: 24px;
  color: #25564b;
}

#footer .socials li a:hover {
  color: white;
}
/*# sourceMappingURL=main.css.map */