@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: Kumbh Sans, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;

  color: hsl(238, 29%, 16%);
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 16px;
}

.card {
  width: 900px;
  display: flex;
  background: white;
  border-radius: 16px;
  position: relative;
}

.card__images {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.card__box {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -25%);
}

.card__woman {
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
}

.card__pattern {
  position: absolute;
  left: -575px;
  top: 50%;
  transform: translateY(-57.5%);
}

.card__woman--mobile,
.card__pattern--mobile {
  display: none;
}

.card__faq {
  width: 50%;
  padding: 80px 80px 80px 0;
}

.card__heading {
  font-size: 2rem;
  margin-bottom: 8px;
}

.card__item {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding: 16px 0 8px;
}

.card__title {
  width: 95%;
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(237, 12%, 33%);
  margin-bottom: 0.5rem;
  cursor: pointer;
  position: relative;
}

.card__title::after {
  content: "";
  position: absolute;
  right: -17px;
  top: 5px;
  width: 10px;
  height: 8px;
  background: url("../images/icon-arrow-down.svg") no-repeat;
  transition: all linear 0.1s;
}

.card__title:hover {
  color: hsl(14, 88%, 65%);
}

.card__paragraph {
  color: hsl(240, 6%, 50%);
  line-height: 1.2rem;
  max-height: 0px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.show .card__title {
  font-weight: 700;
}

.show .card__title::after {
  transform: rotate(180deg);
}

.show .card__paragraph {
  max-height: 100px;
  opacity: 1;
}

@media (max-width: 1000px) {
  body {
    align-items: flex-start;
  }

  .card {
    margin-top: 120px;
    width: 375px;
    flex-direction: column;
  }

  .card__woman,
  .card__pattern,
  .card__box {
    display: none;
  }

  .card__images {
    width: auto;
    height: 210px;
    margin-top: -106px;
  }

  .card__woman--mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-55%);
  }

  .card__pattern--mobile {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .card__faq {
    width: 100%;
    padding: 20px;
  }

  .card__heading {
    text-align: center;
  }

  .card__title {
    font-size: 0.85rem;
  }

  .card__paragraph {
    padding-right: 1.5rem;
  }
}
