@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;

  min-height: 100vh;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  padding: 1rem;

  font-family: Kumbh Sans, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: hsl(238, 29%, 16%);
}

.accordion {
  max-width: 23.44rem;
  position: relative;
  margin-top: 7.5rem;

  background: white;
  border-radius: 1rem;
}

.accordion__images-wrapper {
  position: relative;
}

.accordion__bg-pattern {
  position: absolute;
  top: -0.05rem;
  left: 50%;
  transform: translateX(-50%);

  width: 15rem;
  height: 6.5rem;

  background-image: url("../images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.accordion__illustration-woman {
  position: absolute;
  top: -6.65rem;
  left: 50%;
  transform: translateX(-55%);

  width: 16.63rem;
  height: 12.25rem;

  background-image: url("../images/illustration-woman-online-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.accordion__content {
  padding: 7.75rem 1.25rem 1.25rem;
}

.accordion__heading {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.accordion__item {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding: 1rem 0 0.5rem;
}

.accordion__title {
  position: relative;
  width: 95%;
  margin-bottom: 0.5rem;

  font-size: 0.85rem;
  font-weight: 400;
  color: hsl(237, 12%, 33%);
  cursor: pointer;
}

.accordion__title::after {
  content: "";
  position: absolute;
  right: -1.1rem;

  top: 0.3125rem;
  width: 0.625rem;
  height: 0.5rem;
  background: url("../images/icon-arrow-down.svg") no-repeat;
  transition: all linear 0.1s;
}

.accordion__title:hover {
  color: hsl(14, 88%, 65%);
}

.accordion__paragraph {
  padding-right: 1.5rem;
  line-height: 1.2rem;
  color: hsl(240, 6%, 50%);

  max-height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.show .accordion__title {
  font-weight: 700;
}

.show .accordion__title::after {
  transform: rotate(180deg);
}

.show .accordion__paragraph {
  max-height: 6.25rem;
  opacity: 1;
}

@media (min-width: 62em) {
  body {
    align-items: center;
  }

  .accordion {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 56.25rem;
    margin-top: 0;
  }

  .accordion__images-wrapper {
    overflow: hidden;
  }

  .accordion__illustration-box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -25%);
    z-index: 1;

    width: 11.88rem;
    height: 11.5rem;

    background-image: url("../images/illustration-box-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .accordion__bg-pattern {
    top: 50%;
    left: 0;
    transform: translate(-59.5%, -57.5%);

    width: 966px;
    height: 945px;

    background-image: url("../images/bg-pattern-desktop.svg");
  }

  .accordion__illustration-woman {
    top: 50%;
    left: 50%;
    transform: translate(-64.6%, -50%);

    width: 472px;
    height: 359px;

    background-image: url("../images/illustration-woman-online-desktop.svg");
  }

  .accordion__content {
    padding: 5rem 5rem 5rem 0;
  }

  .accordion__heading {
    text-align: left;
  }

  .accordion__title {
    font-size: 0.9rem;
  }
}
