// color variables
$c-light-red: hsl(356, 100%, 66%);

$c-very-light-red: hsl(355, 100%, 74%);
$c-very-dark-blue: hsl(208, 49%, 24%);

$c-neutral-gray-blue: hsl(240, 2%, 79%);
$c-neutral-light-gray: hsl(240, 3%, 94%);
$c-neutral-very-dark-blue: hsl(240, 10%, 16%);
$c-neutral-very-dark-grayish-blue: hsl(207, 13%, 34%);

$c-bg-light-red: hsl(353, 100%, 62%);
$c-bg-very-light-red: hsl(13, 100%, 72%);
$c-bg-very-dark-gray-blue: hsl(237, 17%, 21%);
$c-bg-very-dark-desaturated-blue: hsl(237, 23%, 32%);
