@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Spartan, sans-serif;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.social__pattern-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 40.5vw;
  z-index: -1;
}

.social__pattern-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 75.5vw;
  z-index: -1;
}

.social__pattern-top--mobile {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: none;
}

.social__pattern-bottom--mobile {
  max-width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: none;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.social {
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: auto 250px;
  gap: 80px;
}

.social__info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: hsl(300, 43%, 22%);
}

.social__info p {
  font-weight: 500;
  color: hsl(303, 10%, 53%);
}

.social__reviews {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social__review {
  font-size: 0.8rem;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  background: hsl(300, 24%, 96%);
  border-radius: 8px;
  padding: 16px 38px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.social__review--left {
  align-self: flex-start;
}

.social__review--middle {
  align-self: center;
}

.social__review--right {
  align-self: flex-end;
}

.social__stars {
  display: flex;
  gap: 5px;
}

.social__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  grid-column: 1/3;
}

.social__card {
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 32px;
  background: hsl(300, 43%, 22%);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 4px;
}

.social__card--top {
  align-self: flex-start;
}

.social__card--middle {
  align-self: center;
}

.social__card--bottom {
  align-self: flex-end;
}

.social__card img {
  width: 40px;
  border-radius: 50%;
  grid-row: 1/3;
  margin-right: 10px;
}

.social__card h3 {
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  align-self: flex-end;
}

.social__card span {
  color: hsl(333, 80%, 67%);
}

.social__card p {
  line-height: 1.5;
  color: hsl(300, 24%, 96%);
  grid-column: 1/3;
  margin-top: 8px;
}

@media (max-width: 1100px) {
  body {
    align-items: flex-start;
    padding: 70px 20px;
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .social__info {
    text-align: center;
  }

  .social__review {
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }

  .social__cards {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .social__pattern-top,
  .social__pattern-bottom {
    display: none;
  }

  .social__pattern-top--mobile,
  .social__pattern-bottom--mobile {
    display: block;
  }
}
