@use "../abstract" as *;

.footer {
  color: $c-neutral-gray-blue;
  background: $c-neutral-very-dark-blue;
  border-top-right-radius: 96px;

  text-align: center;

  &__logo {
    margin-inline: auto;
    margin-bottom: 32px;
  }

  &__links {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;

    > div {
      color: white;
      font-weight: 500;
      margin-bottom: 16px;
    }

    a {
      margin-bottom: 8px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
