@use "../abstract" as *;

.footer {
  background-color: $c-neutral-very-dark-blue;
  border-top-right-radius: rem(96);
  padding: rem(64) 0;
  font-weight: 500;

  @include mobile() {
    border-top-right-radius: rem(88);
    text-align: center;
  }

  &__logo {
    @include mobile() {
      width: rem(88);
      margin-bottom: rem(70);
    }
  }

  &__list-wrapper {
    @include mobile() {
      &:not(:last-child) {
        margin-bottom: rem(45);
      }
    }
  }

  &__navbar {
    @include desktop() {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__navbar-label {
    display: block;
    color: white;
    margin-bottom: rem(35);

    @include desktop() {
      margin-bottom: rem(40);
    }
  }

  &__navbar-item {
    margin-bottom: rem(17);

    @include desktop() {
      margin-bottom: rem(20);
    }
  }

  &__navbar-link {
    color: $c-neutral-gray-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}
