@use "../abstract" as *;

.hero {
  background-image: url("/images/bg-pattern-intro.svg"),
    linear-gradient(45deg, $c-bg-very-light-red, $c-bg-light-red);
  background-repeat: no-repeat;
  background-position: center;

  @include desktop() {
    background-position: calc(50% + 440px) center, center;
  }

  border-bottom-left-radius: 96px;
  height: rem(550);
  padding-top: 60px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: rem(32);
    margin-bottom: 16px;

    // @include tablet() {
    //   font-size: rem(64);
    //   margin-bottom: 8px;
    // }
  }

  p {
    margin-bottom: 28px;

    // @include tablet() {
    //   font-size: rem(24);
    //   margin-bottom: 32px;
    // }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }
}
