@use "../abstract";

.hero {
  background-image: url("/images/bg-pattern-intro.svg"),
    linear-gradient(45deg, abstract.$bgVeryLightRed, abstract.$bgLightRed);
  background-repeat: no-repeat;
  background-position: center;

  @include abstract.desktop() {
    background-position: calc(50% + 440px) center, center;
  }

  border-bottom-left-radius: 96px;
  height: abstract.rem(550);
  padding-top: 60px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: abstract.rem(32);
    margin-bottom: 16px;

    @include abstract.tablet() {
      font-size: abstract.rem(64);
      margin-bottom: 8px;
    }
  }

  p {
    margin-bottom: 28px;

    @include abstract.tablet() {
      font-size: abstract.rem(24);
      margin-bottom: 32px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }
}
