@use "../abstract" as *;

.section {
  text-align: center;

  &--blue {
    background: $c-bg-very-dark-desaturated-blue;
    border-top-right-radius: 96px;
    border-bottom-left-radius: 96px;

    .section__heading,
    .section__paragraph {
      color: white;
    }
  }

  &__heading {
    font-size: rem(24);
    text-align: center;
    margin-bottom: 32px;
  }

  &__subheading {
    font-size: rem(20);
    margin-bottom: 16px;
  }

  &__paragraph {
    font-size: rem(14.5);
    line-height: 1.8;
    color: $c-neutral-very-dark-grayish-blue;

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }
}
