@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Poppins, sans-serif;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 32px;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.container--mini {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 16px;
  color: hsl(234, 12%, 34%);
}

.heading span {
  font-weight: 600;
  display: block;
}

.paragraph {
  font-size: 15px;
  margin-bottom: 32px;
  color: hsl(229, 6%, 66%);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 32px;
}

.card {
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 10px hsl(229, 6%, 66%);

  display: flex;
  flex-direction: column;
}

.card--cyan {
  border-top: 4px solid hsl(180, 62%, 55%);
  grid-row: 1/3;
}

.card--red {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.card--orange {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.card--blue {
  border-top: 4px solid hsl(212, 86%, 64%);
  grid-row: 1/3;
  grid-column: 3/4;
}

.card h2 {
  font-size: 1.1rem;
  color: hsl(234, 12%, 34%);
  margin-bottom: 6px;
}

.card p {
  font-size: 0.7rem;
  color: hsl(229, 6%, 66%);
  height: 50px;
  margin-bottom: 16px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card img {
  align-self: flex-end;
}

@media (max-width: 1080px) {

  .container {
    max-width: 340px;
  }

  .heading {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 0.8rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
