@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  font-family: Josefin Sans, sans-serif;
  color: hsl(0, 36%, 70%);
}

.hero__logo {
  display: inline-block;
  padding: 2rem;
}

.hero__image {
  width: 100%;
  height: 13.125rem;

  background-image: url("./images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero__text {
  padding: 2rem;
  text-align: center;
}

.hero__heading {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  letter-spacing: 0.8rem;
  line-height: 1.1;
  color: hsl(0, 6%, 24%);
  text-transform: uppercase;
}

.hero__heading span {
  display: block;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.hero__paragraph {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.8;
}

.hero__form {
  display: flex;
  position: relative;
}

.hero__email {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: transparent;
  color: hsl(0, 34%, 74%);
  border-radius: 2rem;
  border: 1px solid hsl(0, 20%, 82%);
  outline: none;
}

.hero__submit {
  position: absolute;
  right: 0;

  background-image: url("./images/icon-arrow.svg"),
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  background-repeat: no-repeat;
  background-position: center center;

  height: 100%;
  padding: 0 2rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.hero__message {
  position: absolute;
  left: 1.25rem;
  top: 3.75rem;
}

.hero__message.success {
  color: hsl(114, 15%, 59%);
}

.hero__message.failure {
  color: hsl(0, 36%, 70%);
}

@media (min-width: 56em) {
  .hero {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto 1fr;
    grid-template-areas: "logo image" "text image";
  }

  .hero__logo {
    grid-area: logo;
    padding: 6vh 10vw;
  }

  .hero__logo img {
    width: 11vw;
  }

  .hero__image {
    grid-area: image;
    height: 100%;
    background-image: url("./images/hero-desktop.jpg");
  }

  .hero__text {
    grid-area: text;
    text-align: left;
    padding: 6vh 10vw;
  }

  .hero__heading {
    margin-bottom: 1.1vw;
    font-size: 4vw;
    letter-spacing: 1vw;
    text-align: left;
  }

  .hero__paragraph {
    margin-bottom: 1.7vw;
    font-size: 1.2vw;
    text-align: left;
  }

  .hero__email {
    font-size: 0.8vw;
    padding: 1vw 1.5vw;
    border-radius: 2vw;
  }

  .hero__submit {
    padding: 0 2.5vw;
    border-radius: 2vw;
    background-size: 0.8vw 1.3vw, cover;
  }
}
