@use "style/mixins" as mix;
@use "style/functions" as fn;

.countries-grid {
  margin-top: 2rem;

  @include mix.desktop {
    margin-top: 2.5rem;
  }

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.country {
  display: flex;
  flex-direction: column;

  border-radius: fn.rem(6);
  box-shadow: 0 3px 5px var(--color-shadow);
  overflow: hidden;

  &__img img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

  &__text {
    flex: 1;
    padding: 0.9rem 1rem 2.3rem;
    background-color: var(--color-bg-accent);
  }

  &__name {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__item {
    font-size: 0.75rem;

    &:not(:last-child) {
      margin-bottom: fn.rem(6);
    }

    strong {
      font-weight: 700;
    }

    span {
      font-weight: 400;
    }
  }
}

@media (min-width: 30em) {
  .countries-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 48em) {
  .countries-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

@media (min-width: 75em) {
  .countries-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
}
